html {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	height: 100%;
	margin: 0;
	padding: 0
}

body {
	background: url(https://static.ncore.cc/styles/default/bg_line.png) repeat;
	height: 100%;
	margin: 0;
	padding: 0;
	color: #e7e7e7
}

a {
	color: #e7e7e7;
	font-weight: 700;
	text-decoration: none
}

a img {
	border: 0
}

li {
	line-height: 16px
}

a.menu_link {
	color: #e7e7e7
}

a.bb-url {
	color: #e7e7e7;
	text-decoration: underline
}

#container {
	background: url(https://static.ncore.cc/styles/default/bg_center.png);
	display: table;
	width: 982px;
	margin: 0 auto;
	height: 100%
}

#container_in {
	display: table;
	height: 100%;
	margin: 0 auto;
	width: 100%
}

#div_body {
	background: url(https://static.ncore.cc/styles/default/main_bottom.jpg) center bottom no-repeat;
	display: table-row;
	height: 100%
}

#div_body_space {
	height: 60px
}

#fej_csik_felso {
	background: url(https://static.ncore.cc/styles/default/fej_csik_felso.png) no-repeat center center;
	height: 9px;
	margin: 0 auto
}

#fej_fejlec {
	background: url(https://static.ncore.cc/styles/default/fej_fejlec.jpg);
	height: 132px;
	margin: 0 auto;
	width: 918px
}

#menu_bg {
	background: url(https://static.ncore.cc/styles/default/menu_bg.png) no-repeat center center;
	height: 29px;
	margin: 0 auto
}

#menu_all {
	height: 29px;
	margin: 0 auto;
	width: 918px
}

#menu_left {
	background: url(https://static.ncore.cc/styles/default/menu_left.png);
	float: left;
	height: 29px;
	width: 10px
}

#menu_center {
	background: url(https://static.ncore.cc/styles/default/menu_center.png);
	float: left;
	height: 20px;
	padding-left: 3px;
	padding-top: 9px;
	width: 895px
}

#menu_right {
	background: url(https://static.ncore.cc/styles/default/menu_right.png);
	float: left;
	height: 29px;
	width: 10px
}

.menu_text {
	float: left;
	margin-right: 19px
}

.menu_center_staff .menu_text {
	margin-right: 12px
}

.menu_arrow {
	background: url(https://static.ncore.cc/styles/default/menu_arrow.png);
	float: left;
	height: 11px;
	margin-top: 1px;
	width: 25px
}

.topnews_alert {
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: #C00;
	color: #FFF;
	float: left;
	font-size: 10px;
	font-weight: 700;
	padding: 0 2px 1px;
	position: absolute;
	margin: -5px 0 0 70px
}

#infosav {
	background: url(https://static.ncore.cc/styles/default/infosav.png);
	height: 25px;
	margin: 0 auto;
	width: 918px
}

#infosav_adatok {
	color: #E7E7E7;
	float: left;
	padding: 5px 0 0 5px;
	width: 609px
}

#infosav_extra {
	float: right;
	padding: 4px 5px 0
}

.infocsik {
	background-color: #AF2B2B;
	color: #E7E7E7;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	line-height: 20px;
	text-align: center;
	width: 100%
}

.i_e_vonal {
	background: url(https://static.ncore.cc/styles/default/info_extra_vonal.gif);
	float: left;
	height: 15px;
	margin: 0 3px 0 6px;
	width: 5px
}

.i_e_link {
	height: 15px;
	width: 100%
}

#i_e_log {
	background: url(https://static.ncore.cc/styles/default/info_staff.png);
	float: left;
	height: 15px;
	width: 28px
}

#i_e_free {
	background: url(https://static.ncore.cc/styles/default/info_extra_free.png);
	float: left;
	height: 15px;
	width: 28px
}

#i_e_baratok {
	background: url(https://static.ncore.cc/styles/default/info_extra_baratok.gif);
	float: left;
	height: 15px;
	width: 28px
}

#i_e_konyvjelzo {
	background: url(https://static.ncore.cc/styles/default/info_extra_konyvjelzo.gif);
	float: left;
	height: 15px;
	width: 28px
}

#i_e_beallitasok {
	background: url(https://static.ncore.cc/styles/default/info_extra_beallitasok.gif);
	float: left;
	height: 15px;
	width: 28px
}

#i_e_level {
	background: url(https://static.ncore.cc/styles/default/info_extra_pm.gif);
	float: left;
	height: 15px;
	width: 28px
}

.i_e_pmcount {
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: #C00;
	color: #FFF;
	float: left;
	font-size: 10px;
	font-weight: 700;
	margin: -6px 3px 0 -10px;
	padding: 0 2px 1px
}

#i_e_meghivo {
	background: url(https://static.ncore.cc/styles/default/info_extra_meghivas.gif);
	float: left;
	height: 15px;
	width: 28px
}

#main {
	background: url(https://static.ncore.cc/styles/default/main_top.jpg) no-repeat;
	min-height: 233px
}

#main_tartalom {
	padding-top: 8px
}

#footer {
	background: url(https://static.ncore.cc/styles/default/footer_bg.png) no-repeat center top;
	padding-left: 32px;
	height: 34px;
	margin: 0 auto
}

#footer_left {
	background: url(https://static.ncore.cc/styles/default/footer_left.png);
	float: left;
	height: 34px;
	width: 75px
}

.footer_link {
	height: 34px;
	width: 100%
}

#footer_center {
	background: url(https://static.ncore.cc/styles/default/footer_center.png);
	color: #9C9C9C;
	float: left;
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
	height: 24px;
	padding-top: 10px;
	text-align: center;
	width: 759px
}

#footer_right {
	background: url(https://static.ncore.cc/styles/default/footer_right.png);
	float: left;
	height: 34px;
	width: 84px
}

.hr_stuff {
	background: url(https://static.ncore.cc/styles/default/hr.gif);
	height: 8px;
	margin: 5px auto;
	width: 871px
}

span.r_lev1 {
	color: #DE6E00
}

span.r_lev2 {
	color: #DE6E00
}

span.r_lev3 {
	color: #DEA200
}

span.r_lev4 {
	color: #DEBC00
}

span.r_lev5 {
	color: #DEC100
}

span.r_lev6 {
	color: #CCDE00
}

span.r_lev7 {
	color: #47D700
}

.bonus_up {
	color: #33cc00
}

.bonus_down {
	color: #820000
}

.baratok_alert {
	padding: 5px 0;
	text-align: center
}

.active_link {
	color: orange;
	font-weight: 700;
	text-decoration: none
}

.left {
	margin: 0;
	padding: 6px 0
}

.beviteliMezo {
	background: #B8B8B8;
	border: 1px solid #999;
	color: #474747;
	width: 300px
}

.beviteliMezo2 {
	background: #B8B8B8;
	border: 1px solid #999;
	color: #474747;
	height: 161px;
	width: 587px
}

.beviteliMezo3 {
	background: #B8B8B8;
	border: 1px solid #999;
	color: #474747;
	height: 161px;
	width: 490px
}

.beviteliMezo_news {
	background: #B8B8B8;
	border: 1px solid #999;
	color: #474747;
	margin-left: 7px;
	width: 490px
}

.beviteliMezo_news_comm {
	background: #B8B8B8;
	border: 1px solid #999;
	color: #474747;
	width: 295px
}

.valasztasMezo,
.valasztasMezo2 {
	background: #B8B8B8;
	border: 1px groove #474747;
	color: #474747;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	height: 20px;
	margin: 0!important;
	text-align: left;
	width: 150px
}

.clickable {
	cursor: pointer
}

.g_mehet {
	background: url(https://static.ncore.cc/styles/default/g_mehet.png);
	height: 21px;
	width: 82px
}

.g_elonezet {
	background: url(https://static.ncore.cc/styles/default/g_elonezet.png);
	height: 21px;
	width: 82px
}

.comment {
	color: #AAA;
	font-weight: 400
}

.teljes_oldalas {
	padding: 5px 0;
	text-align: center;
	width: 100%
}

#t_h_torrentek {
	background: #B8B8B8;
	border: 1px solid #474747;
	color: #474747;
	height: 100px;
	overflow-y: scroll;
	padding: 3px;
	width: 500px
}

#imdb_hasonlo {
	background: #B8B8B8;
	border: 1px solid #474747;
	color: #474747;
	height: 70px;
	overflow-y: scroll;
	padding: 3px;
	width: 100%
}

.set_style {
	float: left;
	margin: 4px;
	text-align: center
}

.fobox_fej,
.fobox_fej_alone {
	background: url(https://static.ncore.cc/styles/default/fobox_fej.png);
	border: 1px solid #828282;
	color: #E7E7E7;
	font-weight: 700;
	height: 18px;
	padding: 4px 0 0 10px;
	width: 888px
}

.fobox_tartalom {
	background-color: #616161;
	border: 1px solid #828282;
	color: #E7E7E7;
	font-weight: 700;
	margin-top: 1px;
	padding: 10px;
	width: 878px
}

.userbox_tartalom_mini_text {
	padding-left: 1em
}

.commentbox_all {
	margin: 0 auto 13px;
	width: 900px
}

.commentbox_fej {
	background: url(https://static.ncore.cc/styles/default/hsz_fej.jpg);
	border: 1px solid #828282;
	color: #E7E7E7;
	font-size: 11px;
	font-weight: 700;
	height: 22px;
	padding: 10px 0 0 50px;
	width: 848px
}

#up_commentbox .hsz_iconok {
	margin-left: 15px
}

.hsz_iconok {
	margin: 0 auto;
	width: 520px
}

.hsz_iconok_table {
	border-collapse: collapse;
	height: 45px;
	margin: 0 auto;
	padding: 0;
	text-align: center
}

#up_commentbox .hsz_textarea {
	margin: 0
}

.hsz_textarea {
	background: url(https://static.ncore.cc/styles/default/hsz_comm.gif) no-repeat;
	height: 179px;
	margin: 0 auto;
	text-align: left;
	width: 556px
}

#profil_right .hsz_textarea {
	background: #616161;
	border: 1px solid #828282;
	height: 184px;
	width: 100%
}

#profil_right .textarea_fancy {
	height: 182px;
	margin: 0;
	padding: 1px 0 0 5px;
	width: 466px
}

#profil_right .hsz_width5 {
	width: 181px
}

.textarea_fancy {
	background: none;
	border: none;
	color: #CACACA;
	height: 169px;
	margin-top: 1px;
	overflow-y: scroll;
	padding-left: 8px;
	padding-top: 1px;
	width: 546px
}

.hsz_width1 {
	width: 74px
}

.hsz_width3 {
	width: 24px
}

.hsz_width5 {
	width: 261px
}

.bb-quote {
	background-color: #696969;
	border: 1px dashed #333;
	padding: 10px
}

.bb_table_td {
	border-bottom: 1px solid #333;
	padding: 3px
}

.bb_table_td2 {
	padding: 6px
}

.bb_link {
	height: 24px;
	width: 24px
}

.hsz_bb_vastag {
	background-image: url(https://static.ncore.cc/styles/default/hsz_bb_vastag.gif);
	float: left;
	height: 24px;
	width: 24px
}

.hsz_bb_dolt {
	background-image: url(https://static.ncore.cc/styles/default/hsz_bb_dolt.gif);
	float: left;
	height: 24px;
	margin-left: 1px;
	width: 24px
}

.hsz_bb_alahuzott {
	background: url(https://static.ncore.cc/styles/default/hsz_bb_alahuzott.gif);
	float: left;
	height: 24px;
	margin-left: 1px;
	width: 24px
}

.hsz_bb_meret {
	background-image: url(https://static.ncore.cc/styles/default/hsz_bb_meret.gif);
	float: left;
	height: 24px;
	width: 24px
}

#colors {
	font-size: 8pt;
	width: 90px
}

.hsz_bb_szin {
	background-image: url(https://static.ncore.cc/styles/default/hsz_bb_szin.gif);
	float: left;
	height: 24px;
	margin-left: 4px;
	width: 24px
}

.hsz_bb_imgw {
	background: url(https://static.ncore.cc/styles/default/hsz_bb_imgw.gif);
	float: left;
	height: 24px;
	margin-left: 4px;
	width: 24px
}

.hsz_bb_spoiler {
	background: url(https://static.ncore.cc/styles/default/hsz_bb_spoiler.gif);
	float: left;
	height: 24px;
	margin-left: 2px;
	width: 24px
}

.hsz_bb_smilie {
	background-image: url(https://static.ncore.cc/styles/default/hsz_bb_smilie.gif);
	float: left;
	height: 24px;
	margin-left: 2px;
	width: 24px
}

.hsz_bb_kep {
	background-image: url(https://static.ncore.cc/styles/default/hsz_bb_kep.gif);
	float: left;
	height: 24px;
	margin-left: 1px;
	width: 24px
}

.hsz_bb_link {
	background-image: url(https://static.ncore.cc/styles/default/hsz_bb_link.gif);
	float: left;
	height: 24px;
	margin-left: 11px;
	width: 24px
}

.hsz_bb_felsorolas {
	background-image: url(https://static.ncore.cc/styles/default/hsz_bb_felsorolas.gif);
	float: left;
	height: 24px;
	margin-left: 11px;
	width: 24px
}

.hsz_bb_idezet {
	background-image: url(https://static.ncore.cc/styles/default/hsz_bb_idezet.gif);
	float: left;
	height: 24px;
	margin-left: 1px;
	width: 24px
}

.hsz_bb_kerdes {
	background-image: url(https://static.ncore.cc/styles/default/hsz_bb_kerdes.gif);
	float: left;
	height: 24px;
	margin-left: 9px;
	width: 24px
}

.listrow_odd {
	background-color: #616161
}

.listrow_even {
	background-color: #545454
}

.listrow_self {
	background-color: #B0B0B0
}

.listrow_table th {
	background-color: #B0B0B0;
	color: #333;
	padding: 1px;
	text-align: center
}

.tiltott_live {
	color: #B92423
}

#torr_live_close {
	float: right;
	padding-left: 10px
}

#torr_live {
	background: gray;
	border: 1px groove #828282;
	display: none;
	margin-top: 3px;
	position: absolute
}

#t_live_first {
	background: #414141
}

#t_live_line td {
	height: 2px;
	padding: 0
}

.t_live_left {
	background: #5b5b5b
}

.back_counter {
	padding-left: 7px
}

.open_news_comm .back_counter {
	padding-left: 0
}

.newscomm_korabbi,
#korabbi_div {
	background-color: #4f4f4f;
	height: 30px;
	margin-top: 10px
}

#korabbi_div {
	margin-top: 20px
}

.add_news_h {
	color: #E7E7E7;
	cursor: pointer
}

.news_block_left {
	float: left;
	padding-left: 20px;
	padding-right: 30px;
	width: 598px
}

.news_block_right {
	float: left;
	margin-left: 30px;
	padding-right: 20px;
	width: 180px
}

.news {
	padding: 0 10px
}

.news_extra {
	background: #513b3b;
	float: left;
	padding: 10px
}

.news_left {
	float: left;
	margin-right: 5px;
	padding-bottom: 5px;
	width: 80px
}

.news_right {
	float: left;
	padding-bottom: 5px;
	width: 493px
}

.news_right2 {
	float: left;
	width: 580px
}

.news_right_txt {
	font-size: 11px;
	font-weight: 400;
	margin-top: 5px;
	overflow: hidden;
	word-wrap: break-word
}

.news_sepa {
	background-color: #919191;
	height: 1px;
	margin: 10px 0;
	width: 100%
}

.right_rss_top {
	margin-bottom: 5px;
	text-decoration: underline
}

.right_rss_txt {
	font-weight: 400;
	margin-bottom: 5px
}

.right_rss_title {
	margin-bottom: 3px
}

.news_own a {
	color: #919191
}

.news_own a:hover {
	color: #FFA52C
}

.close_news_comm,
.open_news_comm {
	margin: 10px 0 0 95px
}

.newslist_comm {
	background: #565656;
	margin-left: 95px;
	width: 390px
}

.news_sepa_comm {
	border-top: 1px dotted #919191;
	height: 1px;
	margin-bottom: 3px;
	width: 100%
}

.news_comm {
	padding: 0 5px
}

.news_left_comm {
	float: left;
	margin-right: 5px;
	padding-bottom: 3px;
	width: 40px
}

.news_right_comm {
	float: left;
	padding-bottom: 3px;
	width: 335px
}

.news_right_txt_comm {
	font-weight: 400;
	margin-top: 2px;
	overflow: hidden;
	word-wrap: break-word
}

#stat_table {
	border-top: 1px solid #919191;
	margin-top: 10px;
	padding-top: 10px;
	width: 100%
}

a.torrentnev:link,
a.torrentnev:visited,
a.torrentnev:active {
	color: #E7E7E7;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 13px
}

a.torrentnev:hover {
	color: #E7E7E7;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 13px;
	text-decoration: underline
}

.modkomment_fej {
	background: url(https://static.ncore.cc/styles/default/mod_fej.gif) no-repeat;
	height: 27px
}

.modkomment_kozep {
	background-color: #a60800;
	padding-left: 10px
}

.modkomment_szoveg {
	color: #ffdc7f;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: 700;
	line-height: 13px;
	text-align: left
}

.modkomment_lab {
	background: url(https://static.ncore.cc/styles/default/mod_lab.gif) no-repeat;
	color: #e1e1e1;
	height: 20px;
	padding-left: 10px;
	padding-top: 5px;
	text-align: left
}

.modkomment_logo {
	background: url(https://static.ncore.cc/styles/default/mod_logo.gif) no-repeat;
	background-position: right bottom;
	height: 40px;
	width: 136px
}

a.torrent {
	color: #e7e7e7;
	font-weight: 400;
	text-decoration: none
}

a.torrent:hover {
	color: orange;
	font-weight: 400;
	text-decoration: none
}

#keresoresz {
	border: 0;
	border-collapse: collapse;
	margin: 0 auto;
	padding: 5px 0;
	width: 800px
}

.keresesMezo {
	background-color: #B8B8B8;
	border: 1px groove #474747;
	color: #474747;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	height: 16px;
	text-align: left;
	width: 150px
}

.panel_closed {
	background-image: url(https://static.ncore.cc/styles/default/search_bg.jpg);
	cursor: pointer;
	height: 54px;
	margin: -10px auto 0;
	width: 556px
}

.panel_open {
	background-image: url(https://static.ncore.cc/styles/default/search_bg2.jpg);
	cursor: pointer;
	height: 56px;
	margin: 10px auto;
	width: 871px
}

#pager_top {
	margin-top: 10px;
	text-align: center
}

.categ_link {
	height: 32px;
	width: 51px
}

.lista_fej {
	background: url(https://static.ncore.cc/styles/default/fobox_fej.png);
	border: 1px solid #828282;
	color: #E7E7E7;
	font-weight: 700;
	height: 18px;
	padding: 4px 0 0 10px;
	width: 888px
}

.lista_mini_all {
	margin: 0 auto 13px;
	width: 100%
}

.box_alcimek_all,
.box_alcimek_all_mini {
	height: 25px;
	text-align: center
}

.lista_mini_error {
	margin: 5px 0 15px;
	text-align: center
}

.box_alap {
	border: 1px solid #828282;
	float: left;
	height: 20px;
	margin: 1px 1px 0 0;
	padding: 1px
}

.box_alap_utolso {
	border: 1px solid #828282;
	float: left;
	height: 20px;
	margin: 1px 0 0;
	padding: 1px
}

.alcim {
	background: url(https://static.ncore.cc/styles/default/alcimbg.gif) repeat-x;
	border-collapse: collapse;
	color: #E7E7E7;
	float: left;
	font-weight: 700
}

.alcim td {
	padding: 0
}

.alcim_bal {
	background: url(https://static.ncore.cc/styles/default/bal_light.gif);
	float: left;
	height: 20px;
	width: 8px
}

.alcim_jobb {
	background: url(https://static.ncore.cc/styles/default/jobb_light.gif);
	float: left;
	height: 20px;
	width: 8px
}

.box_nev_ownfree {
	width: 220px
}

.box_txt_ownfree {
	margin: 10px 0 0 5px
}

.box_meret_ownfree {
	width: 53px
}

.box_nev {
	width: 440px
}

.box_kerve {
	width: 82px
}

.box_d_ownfree {
	width: 37px
}

.box_nagy_mini .box_s2 {
	margin-left: 10px
}

.box_nagy_mini .box_l2 {
	margin-left: 2px
}

.box_s {
	width: 22px
}

.box_feltolto {
	width: 67px
}

.box_profil_nev {
	width: 175px
}

.box_profil_nev2 {
	width: 396px
}

.box_profil_leseb {
	width: 52px
}

.box_profil_arany {
	width: 57px
}

.torrent_lenyilo {
	margin-left: 1px
}

.box_alap_img {
	border: 1px solid #828282;
	float: left;
	height: 32px;
	margin-top: 1px
}

.box_nagy2 {
	background-color: #545454;
	border: 1px solid #828282;
	float: left;
	height: 32px;
	margin-left: 1px;
	margin-top: 1px;
	width: 844px
}

.box_nagy {
	background-color: #616161;
	border: 1px solid #828282;
	float: left;
	height: 32px;
	margin-left: 1px;
	margin-top: 1px;
	width: 844px
}

.box_nagy_mini {
	background-color: #616161;
	border: 1px solid #828282;
	float: left;
	height: 32px;
	margin-left: 1px;
	margin-top: 1px;
	width: 561px
}

.box_nev2 {
	float: left;
	width: 458px
}

.box_nev_mini2 {
	float: left;
	margin-top: 8px
}

.box_nev_mini_ownfree {
	float: left;
	width: 240px
}

.box_feltoltve2 {
	color: #E7E7E7;
	float: left;
	line-height: 13px;
	margin-top: 2px;
	text-align: center;
	width: 90px
}

.box_feltoltve2_short {
	float: left;
	font-size: 10px;
	margin-top: 10px;
	text-align: center;
	width: 98px
}

.box_feltoltve_other_short {
	float: left;
	font-size: 10px;
	margin-top: 4px;
	text-align: center;
	width: 98px
}

.box_meret2 {
	color: #E7E7E7;
	float: left;
	line-height: 10px;
	margin-top: 10px;
	text-align: center;
	width: 88px
}

.box_d2 {
	color: #E7E7E7;
	float: left;
	margin-top: 10px;
	text-align: center;
	width: 41px
}

.box_feltolto2 {
	color: #E7E7E7;
	float: left;
	margin-top: 9px;
	text-align: center;
	width: 85px
}

.tabla_szoveg {
	padding-left: 5px;
	text-align: left
}

.torrent_txt {
	float: left;
	margin-top: 1px;
	width: 365px
}

.torrent_txt_mini {
	float: left;
	margin-top: 4px;
	width: 167px
}

.torrent_txt_mini2 {
	float: left;
	margin-left: 5px;
	width: 410px
}

.torrent_txt_also {
	color: #BFBFBF;
	font-weight: 400;
	margin-top: 1px
}

a.infolink:hover {
	color: orange;
	font-weight: 400;
	text-decoration: none
}

.torrent_txt2 {
	float: left;
	margin-top: 8px;
	width: 365px
}

.torrent_new {
	background: url(https://static.ncore.cc/styles/default/ico_new.gif);
	float: right;
	height: 15px;
	margin: 8px 0 0 5px;
	width: 15px
}

.torrent_new_link {
	height: 15px;
	width: 15px
}

.torrent_gold {
	background: url(https://static.ncore.cc/styles/default/ico_legal.png);
	float: right;
	height: 15px;
	margin: 8px 0 0 5px;
	width: 15px
}

.torrent_hidden {
	background: url(https://static.ncore.cc/styles/default/torrent_hidden.gif);
	float: right;
	height: 15px;
	margin: 8px 0 0 5px;
	width: 15px
}

.torrent_ok {
	background: url(https://static.ncore.cc/styles/default/ico_ok.gif);
	float: right;
	height: 15px;
	margin: 8px 0 0 5px;
	width: 15px
}

.torrent_unchecked {
	background: url(https://static.ncore.cc/styles/default/ico_unchecked.gif);
	float: right;
	height: 15px;
	margin: 8px 0 0 5px;
	width: 15px
}

.torrent_err {
	background: url(https://static.ncore.cc/styles/default/ico_err.gif);
	float: right;
	height: 15px;
	margin: 8px 0 0 5px;
	width: 15px
}

.torrent_konyvjelzo,
.torrent_konyvjelzo2 {
	background: url(https://static.ncore.cc/styles/default/plus.gif);
	float: left;
	height: 15px;
	margin: 8px 5px 0 0;
	width: 15px
}

.infobar {
	float: left;
	margin: 1px 3px 0 0
}

.torrent_upload {
	background: url(https://static.ncore.cc/styles/default/upload.gif);
	float: left;
	height: 32px;
	margin-right: 2px;
	width: 26px
}

.torrent_download {
	background: url(https://static.ncore.cc/styles/default/download.gif);
	float: left;
	height: 32px;
	margin-right: 2px;
	width: 26px
}

.torrent_lenyilo_lehetoseg {
	background: url(https://static.ncore.cc/styles/default/download_bg.gif);
	height: 59px;
	margin-top: 1px;
	width: 900px
}

.lehetosegek {
	height: 17px;
	color: #E7E7E7;
	font-size: 10px;
	font-weight: 700;
	padding: 2px 0 0 4px
}

.torr_reszletek_btn {
	height: 40px;
	width: 27px
}

.letoltve {
	background: url(https://static.ncore.cc/styles/default/letoltve.gif);
	float: left;
	height: 40px;
	margin: 0 2px 0 6px;
	width: 27px
}

.nfo {
	background: url(https://static.ncore.cc/styles/default/nfo.gif);
	float: left;
	height: 40px;
	margin: 0 2px 0 6px;
	width: 27px
}

.t_details {
	background: url(https://static.ncore.cc/styles/default/t_details.gif);
	float: left;
	height: 40px;
	margin: 0 2px 0 6px;
	width: 27px
}

.t_mafab {
	float: left;
	height: 19px;
	margin: 11px 4px 0 6px;
	width: 59px
}

.t_comments {
	background: url(https://static.ncore.cc/styles/default/t_comments.gif);
	float: left;
	height: 40px;
	margin: 0 2px 0 6px;
	width: 27px
}

.fajlok {
	background: url(https://static.ncore.cc/styles/default/fajlok.gif);
	float: left;
	height: 40px;
	margin: 0 2px 0 6px;
	width: 27px
}

.fajlok_txt {
	float: left;
	margin: 14px 0 0 5px
}

.t_szerkeszt {
	background: url(https://static.ncore.cc/styles/default/t_edit.gif);
	float: left;
	height: 40px;
	margin: 0 2px 0 6px;
	width: 27px
}

.t_torol {
	background: url(https://static.ncore.cc/styles/default/t_delete.gif);
	float: left;
	height: 40px;
	margin: 0 2px 0 6px;
	width: 27px
}

.download_separ {
	background: url(https://static.ncore.cc/styles/default/download_separ.gif);
	float: left;
	height: 35px;
	margin: 0 4px 0 12px;
	width: 2px
}

.torrent_lenyilo_tartalom {
	background-color: #616161;
	border: 1px solid #828282;
	color: #E7E7E7;
	font-weight: 700;
	padding: 10px;
	width: 878px
}

.torrent_lenyilo2 .torrent_lenyilo_tartalom {
	background-color: #545454;
	border: 1px solid #828282;
	color: #E7E7E7;
	font-weight: 700;
	padding: 10px;
	width: 878px
}

.torrent_kep_ico {
	font-weight: 700;
	margin: 0 auto
}

.torrent_kep_ico2 {
	background: url(https://static.ncore.cc/styles/default/ico_attach.png);
	height: 46px;
	margin: 0 auto;
	width: 33px
}

.attached_link {
	height: 46px;
	width: 33px
}

.torrentnev_container {
	padding: 10px 0 20px
}

.torrent_reszletek_cim {
	font-size: 16px;
	text-align: center
}

.torrent_reszletek {
	margin: 10px auto;
	width: 607px
}

.dt {
	border-bottom: 1px dashed #828282;
	float: left;
	font-size: 10px;
	font-weight: 700;
	padding: 3px 0 2px 2px;
	width: 83px
}

.dd {
	border-bottom: 1px dashed #828282;
	font-size: 10px;
	font-weight: 400;
	margin-left: 85px;
	padding: 3px 2px 2px 10px
}

.dtfix {
	height: 24px
}

.torrent_col1 {
	float: left;
	margin: 10px 40px 10px 0;
	text-align: left;
	width: 307px
}

.torrent_col2 {
	clear: right;
	float: left;
	margin: 10px 0;
	text-align: left;
	width: 260px
}

.download {
	font-size: 11px;
	margin: 20px 0;
	text-align: center;
	text-decoration: underline;
	text-transform: uppercase
}

.torrent_leiras {
	background-color: #6F6F6F;
	border: 1px solid #828282;
	margin: 20px auto;
	padding: 10px;
	text-align: left;
	width: 700px
}

.inforbar_img {
	padding-right: 20px
}

.inforbar_txt {
	vertical-align: top
}

.infobar_title {
	font-size: 15pt;
	line-height: 25px;
	margin: 0 0 10px 5px
}

.g_koszi {
	background: url(https://static.ncore.cc/styles/default/g_koszi.png);
	height: 21px;
	width: 102px
}

.hozzaszolasok_pager {
	padding: 10px 0;
	text-align: center
}

.cheaters_no {
	color: #00e74c
}

.cheaters_yes {
	color: #FF0
}

.cheaters_upper {
	color: #319fe8
}

#cheaters td {
	border: 1px solid silver
}

.baratok_block {
	background: #595959;
	border: 1px solid #333;
	float: left;
	margin: 4px;
	padding: 5px;
	width: 275px
}

.baratok_block_jelolt {
	background: #564444;
	border: 1px solid #333;
	float: left;
	margin: 4px;
	padding: 5px;
	width: 275px
}

div.baratok_img {
	float: left;
	height: 50px;
	margin-right: 4px;
	overflow: hidden;
	width: 50px
}

.baratok_info {
	font-weight: 700;
	padding: 2px 0 5px;
	text-align: center
}

.baratok_center {
	float: left;
	width: 206px
}

.baratok_nev {
	display: block;
	margin: 2px 0 5px
}

.baratok_last {
	display: block;
	margin-bottom: 5px
}

.baratok_del {
	background: url(https://static.ncore.cc/styles/default/ico_minus.gif);
	float: left;
	height: 15px;
	width: 15px
}

.baratok_add {
	background: url(https://static.ncore.cc/styles/default/ico_plus.gif);
	float: left;
	height: 15px;
	width: 15px
}

.beallitasok_menu {
	line-height: 25px;
	margin-left: 10px
}

.profile_torrent_lenyilo_middle {
	font-weight: 700;
	line-height: 15px;
	padding: 0 10px;
	width: 587px
}

.tablazat_th_td th {
	background-color: #3e2121;
	padding: 1px;
	text-align: center
}

.tablazat_th_td td {
	background-color: #333;
	padding: 5px;
	text-align: center
}

.profile_history {
	font-weight: 700
}

#profile_top {
	background: #616161;
	border: 1px solid #828282;
	height: 17px;
	margin: 0 auto 10px;
	padding-top: 5px;
	text-align: center;
	width: 898px
}

#profile_top .active {
	color: #d48900
}

td.profil_doboz {
	border-right: 1px solid #828282;
	border-top: 1px solid #828282;
	margin-top: 1px;
	padding-left: 10px;
	padding-top: 8px;
	vertical-align: top;
	width: 105px
}

td.profil_doboz_error {
	background-color: maroon;
	border-right: 1px solid #828282;
	border-top: 1px solid #828282;
	margin-top: 1px;
	padding-left: 10px;
	padding-top: 8px;
	vertical-align: top;
	width: 105px
}

td.profil_box_error {
	background-color: maroon;
	border-top: 1px solid #828282;
	margin-top: 1px;
	padding-left: 10px
}

#profil_nev {
	font-size: 22px
}

#profil_barattorlese {
	background: url(https://static.ncore.cc/styles/default/ico_barattorlese.gif);
	float: right;
	height: 52px;
	width: 52px
}

#profil_barathozzaad {
	background: url(https://static.ncore.cc/styles/default/ico_barat.gif);
	float: right;
	height: 52px;
	width: 52px
}

#profil_pm {
	background: url(https://static.ncore.cc/styles/default/ico_levelkuldese.gif);
	float: right;
	height: 52px;
	width: 52px
}

.profil_txt {
	height: 62px;
	vertical-align: top;
	white-space: nowrap;
	width: 1px
}

.profil_btn {
	height: 62px;
	width: 100%
}

#profil_warn {
	background: url(https://static.ncore.cc/styles/default/warn.gif);
	float: left;
	height: 52px;
	width: 52px
}

.barat_link {
	height: 62px;
	width: 62px
}

#profil_left {
	float: left;
	margin: 5px 20px 0 0;
	width: 241px
}

#profil_right {
	float: left;
	margin-top: 5px;
	width: 617px
}

.profil_jobb_elso {
	float: left;
	line-height: 17px;
	margin: 0 5px;
	width: 70px
}

.profil_jobb_elso2 {
	float: left;
	line-height: 17px;
	margin-left: 5px;
	width: 125px
}

.profil_jobb_valaszto {
	margin: 10px 0
}

.tblcontent th {
	background: #3E2121;
	border: 1px solid #828282;
	padding: 4px
}

.tblcontent td {
	border: 1px solid #828282;
	padding: 4px
}

.tblcontent2 th {
	background: #3E2121;
	border: 1px solid #828282;
	padding: 2px
}

.tblcontent2 td {
	border: 1px solid #828282;
	padding: 2px
}

.hsz_owncomments {
	margin: 0 auto;
	width: 580px
}

.hsz_felso_owncomments {
	background: url(https://static.ncore.cc/styles/default/hsz_line_bg.gif);
	height: 21px;
	padding: 10px 0 0 10px
}

.hsz_felso_txt_owncomments {
	float: left;
	width: 360px
}

.hsz_felso_date_owncomments {
	float: right;
	margin-right: 7px;
	text-align: right
}

.hsz_comment {
	line-height: 1.5;
	margin: 5px 0 0 10px;
	padding-bottom: 10px
}

.hsz_bal {
	float: left;
	margin-left: 3px;
	width: 168px
}

.hsz_jobb {
	float: left;
	width: 707px
}

.hsz_avatar {
	background: #717171;
	padding: 4px
}

.hsz_avatar_also {
	background: url(https://static.ncore.cc/styles/default/avatar_alj.gif);
	height: 24px;
	margin-top: 1px;
	width: 168px
}

.hsz_jobb_felso_ico {
	background: url(https://static.ncore.cc/styles/default/hsz_line.gif);
	float: left;
	height: 31px;
	margin-left: 10px;
	width: 33px
}

.hsz_jobb_felso {
	background: url(https://static.ncore.cc/styles/default/hsz_line_bg.gif);
	height: 22px;
	margin-left: 15px;
	padding: 9px 0 0 10px
}

.hsz_jobb_felso_txt {
	float: left;
	margin-top: 2px;
	width: 350px
}

.warn_comm {
	margin-top: -2px;
}

.hsz_jobb_felso_date {
	float: right;
	margin: 2px 7px 0 0;
	text-align: right
}

.hsz_jobb_felso_thumbs {
	float: right;
	margin-right: 8px
}

.hsz_voted {
	background-color: #616161;
	border: 1px solid #828282;
	left: -100px;
	padding: 5px;
	position: absolute;
	text-align: center;
	top: 30px;
	width: 130px
}

.hsz_vote_minusz {
	color: #AF2B2B
}

.hsz_vote_plusz {
	color: #2BAF31
}

.hsz_jobb_comment {
	line-height: 1.5;
	margin: 10px 0 0 15px;
	min-height: 100px;
	padding-bottom: 20px;
	word-wrap: break-word;
}

.hsz_jobb_edit_last {
	font-style: italic;
	margin-left: 15px
}

.hsz_jobb_edit {
	background: url(https://static.ncore.cc/styles/default/avat_line.gif) no-repeat;
	font-style: italic;
	margin-left: 15px;
	padding-top: 3px
}

#profil_left4 {
	float: left;
	margin: 5px 20px 0 5px;
	width: 644px
}

#profil_right3 {
	float: left;
	margin-top: 5px;
	width: 200px
}

.baratok_line {
	background: url(https://static.ncore.cc/styles/default/avat_line.gif) no-repeat;
	padding-top: 3px
}

.konyvjelzok_center {
	padding: 10px;
	text-align: center
}

.bookmark_top {
	background-color: #818181;
	color: #E7E7E7;
	font-size: 14px;
	padding: 5px 0;
	width: 100%
}

.bookmark_border {
	border-bottom: 1px solid #828282
}

.bookmark_szerk {
	background: url(https://static.ncore.cc/styles/default/info_extra_beallitasok.gif);
	cursor: pointer;
	float: right;
	height: 15px;
	margin-right: 15px;
	width: 28px
}

.bookmark_1 {
	background: #616161;
	border: 1px solid #828282;
	height: 34px;
	padding-left: 10px;
	width: 354px
}

.bookmark_2 {
	background: #616161;
	border: 1px solid #828282;
	height: 34px;
	text-align: center;
	width: 148px
}

.bookmark_lenyilo_middle {
	font-weight: 700;
	line-height: 15px
}

.bookmark_content {
	background: url(https://static.ncore.cc/styles/default/konyvjelzo_bg.jpg) center top repeat;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 0 0;
	text-align: center
}

.bookmark_text {
	color: #000;
	font-weight: 400;
	padding: 0 20px 20px
}

.bookmark_buttons {
	margin-left: auto;
	margin-right: auto;
	padding: 20px 0;
	text-align: center
}

.invite_1 {
	padding: 2px 0;
	width: 150px
}

.log_bigtxt {
	overflow: hidden;
	word-wrap: break-word
}

#log_head td {
	background-color: #3E2121;
	border-bottom: 1px solid #828282;
	height: 20px;
	text-align: center
}

#log td {
	border-bottom: 1px solid #828282;
	padding: 5px
}

.t_del {
	background-color: #370000
}

.t_add {
	background-color: #637639
}

.nem_pm {
	background: url(https://static.ncore.cc/styles/default/nem_pm.jpg) no-repeat;
	height: 32px;
	width: 32px
}

.igen_pm {
	background: url(https://static.ncore.cc/styles/default/igen_pm.jpg) no-repeat;
	height: 32px;
	width: 32px
}

.megvalaszolt_pm {
	background: url(https://static.ncore.cc/styles/default/megvalaszolt_pm.jpg) no-repeat;
	height: 32px;
	width: 32px
}

.notdel_pm {
	background: url(https://static.ncore.cc/styles/default/notdel_pm.jpg) no-repeat;
	height: 32px;
	width: 32px
}

.rendszer_pm {
	background: url(https://static.ncore.cc/styles/default/rendszer_pm.jpg) no-repeat;
	height: 32px;
	width: 32px
}

.pm_menu_table {
	border: none;
	padding: 5px 0
}

.pm_menu {
	border: none;
	padding: 0 0 10px
}

.box_pm_all {
	clear: both;
	font-weight: 700
}

.box_pm_left {
	float: left;
	width: 160px
}

.box_pm_right {
	border-left: 1px solid #919191;
	margin-left: 160px;
	min-height: 400px
}

.pm_lapozo_felul {
	margin: 5px 0 20px;
	text-align: center
}

.pm_lapozo_alul {
	margin: 30px 0 0;
	text-align: center
}

.pmlist {
	height: 40px;
	width: 728px
}

.pm_header_control {
	background-color: #696969;
	height: 30px;
	line-height: 30px;
	margin: 15px 0 0 10px;
	padding-left: 5px;
	width: 700px
}

.pm_header_control a,
pm_header_control a:hover {
	font-weight: 400;
	padding: 0 10px
}

.pm_header_sepa {
	background-color: #6b6b6b;
	height: 1px;
	margin: 0 0 10px 10px;
	width: 705px
}

.pmlist_one {
	float: left;
	height: 40px;
	margin: 1px 0 0 1px;
	padding: 1px;
	text-align: center;
	width: 80px
}

.pmlist_two {
	float: left;
	height: 40px;
	margin: 1px 0 0 10px;
	padding: 1px;
	width: 130px
}

.pmlist_three {
	float: left;
	height: 40px;
	margin: 1px 0 0 30px;
	padding: 1px;
	width: 450px
}

.no_pm {
	font-weight: 400;
	padding: 30px 0 0;
	text-align: center;
	width: 728px
}

.reply_textarea {
	margin-left: 108px;
	width: 575px
}

.reply_text {
	float: left;
	font-size: 13px;
	font-weight: 400;
	padding-top: 5px;
	text-align: right;
	width: 80px
}

.reply_sepa {
	height: 1px;
	margin: 10px 0 40px 10px;
	width: 705px
}

.pm_reply_sepa {
	background-color: #6b6b6b;
	height: 1px;
	margin: 10px 0 10px 10px;
	width: 705px
}

.pm_korabbi {
	background-color: #4F4F4F;
	height: 40px;
	margin: 15px 0 15px 10px;
	width: 705px
}

.pm_korabbi a,
pm_korabbi a:hover {
	display: block;
	font-weight: 400;
	padding: 15px 0 15px 20px
}

.pm_cim {
	font-size: 16px;
	margin: 0 0 20px 10px;
	padding: 5px 0
}

.pm_jobb {
	padding-bottom: 10px;
	width: 700px
}

.generic_dialog {
	height: 0;
	left: 0;
	overflow: visible;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 3100
}

.generic_dialog .generic_dialog_popup {
	height: 0;
	overflow: visible;
	position: relative
}

table.pop_dialog_table {
	border-collapse: collapse;
	direction: ltr;
	margin: auto;
	table-layout: fixed;
	width: 465px
}

td.pop_topleft,
td.pop_topright,
td.pop_bottomleft,
td.pop_bottomright {
	height: 10px;
	overflow: hidden;
	padding: 0!important;
	width: 10px!important
}

td.pop_topleft {
	background: transparent url(https://static.ncore.cc/styles/default/pop_img.png) no-repeat scroll 0 0
}

td.pop_topright {
	background: transparent url(https://static.ncore.cc/styles/default/pop_img.png) no-repeat scroll 0 -10px
}

td.pop_bottomleft {
	background: transparent url(https://static.ncore.cc/styles/default/pop_img.png) no-repeat scroll 0 -20px
}

td.pop_bottomright {
	background: transparent url(https://static.ncore.cc/styles/default/pop_img.png) no-repeat scroll 0 -30px
}

td.pop_top,
td.pop_bottom {
	background: transparent url(https://static.ncore.cc/styles/default/pop_img.png) repeat-x scroll 0 -40px
}

td.pop_side {
	background: transparent url(https://static.ncore.cc/styles/default/pop_img.png) repeat-y scroll -10px 0
}

.pop_dialog_rtl td.pop_content {
	direction: rtl
}

td.pop_content {
	background: #6e6e6e;
	border: 1px solid #828282;
	color: #E7E7E7;
	direction: ltr;
	display: block;
	font-size: 10px;
	font-weight: 700;
	margin: 0;
	padding: 0
}

.dialog_loading {
	background: url(https://static.ncore.cc/styles/default/../ajax2.gif) no-repeat scroll 232px 5px;
	line-height: 50px;
	min-height: 50px;
	padding-right: 40px
}

.pm_send_top {
	background-color: #515151;
	font-size: 14px;
	margin-bottom: 10px;
	padding: 5px 0;
	width: 100%
}

.pm_send_left {
	text-align: left;
	width: 70px
}

.pm_send_right {
	text-align: left
}

.pm_send_bottom {
	padding-top: 10px;
	text-align: center
}

#baratok_tabla_rendezheto {
	border-spacing: 0;
	padding: 0;
	width: 100%
}

table.sortable th {
	background-color: #3E2121;
	padding: 1px;
	text-align: center
}

tr.barat_bg2 {
	background-color: #696969
}

#wiki_search {
	background-color: #B8B8B8;
	border: 1px solid #474747;
	color: #474747
}

.wiki_ul {
	margin: 0 0 0 20px;
	padding: 0
}

.wiki_ul li {
	padding: 1px 0
}

.wiki_head {
	font-size: 11pt;
	font-weight: 700;
	line-height: 20px;
	padding-bottom: 15px;
	padding-top: 13px;
	text-align: center;
	width: 100%
}

#wiki_left {
	float: left;
	margin: 5px 20px 0 0;
	width: 653px
}

#wiki_right {
	float: left;
	margin-top: 5px;
	width: 205px
}

.wiki_tartalom {
	padding: 10px 20px 20px 15px
}

.wiki_box_search_table td {
	border: 1px solid #828282;
	padding-bottom: 5px;
	padding-left: 3px;
	padding-top: 3px
}

.wiki_box_search_table .colhead {
	background-color: #3E2121;
	font-weight: 700
}

.wikibox_input_left {
	margin-top: 1px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-top: 8px;
	text-align: right;
	vertical-align: top;
	width: 100px
}

.wikibox_input_right {
	margin-top: 1px;
	padding-left: 10px;
	text-align: left;
	vertical-align: top
}

.wiki_line_new {
	color: lime;
	font-size: 8pt
}

.wiki_line_deleted {
	color: red;
	font-size: 8pt
}

.wiki_line_moved {
	color: blue;
	font-size: 8pt
}

.hdlist {
	background-color: #696969;
	height: 30px;
	margin: 5px 0 5px 10px;
	width: 875px
}

.hdlist_one {
	float: left;
	height: 30px;
	padding-left: 10px;
	width: 180px
}

.hdlist_three {
	float: left;
	height: 30px;
	width: 350px
}

.hdlist_replies {
	margin: 5px 0 5px 100px;
	width: 785px
}

.hd_jobb {
	padding-bottom: 10px;
	width: 785px
}

.hd_korabbi {
	background-color: #696969;
	height: 30px;
	margin: 5px 0 5px 10px;
	width: 775px
}

.nincs_talalat {
	background-color: #616161;
	border: 1px solid #828282;
	color: #E7E7E7;
	float: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: 700;
	height: 40px;
	line-height: 40px;
	margin-left: 1px;
	margin-top: 1px;
	width: 898px
}

.keresek_menu {
	padding-bottom: 10px;
	text-align: center
}

#keres_keresese {
	margin: 6px auto
}

.box_keres_kerve {
	width: 40px
}

.box_keres_pont {
	width: 42px
}

.box_keres_kerte {
	width: 73px
}

.box_nev_keres {
	float: left;
	margin-top: 10px;
	width: 365px
}

.box_kerve_keres {
	color: #E7E7E7;
	float: left;
	margin-top: 10px;
	text-align: center;
	width: 62px
}

.box_pont_keres {
	color: #E7E7E7;
	float: left;
	margin-top: 10px;
	text-align: center;
	width: 60px
}

.box_teljesitve_keres {
	color: #E7E7E7;
	float: left;
	margin-top: 10px;
	text-align: center;
	width: 82px
}

.box_feltolto_keres {
	color: #E7E7E7;
	float: left;
	margin-top: 10px;
	text-align: center;
	width: 89px
}

.box_ideje_keres {
	color: #E7E7E7;
	float: left;
	margin-top: 2px;
	text-align: center;
	width: 96px
}

.box_kerte_keres {
	color: #E7E7E7;
	float: left;
	margin-top: 10px;
	text-align: center;
	width: 88px
}

.keres_hatter {
	background-color: #5A5A5A
}

.keres_nev {
	font-size: 14px;
	padding: 10px 0 20px;
	text-align: center;
	width: 100%
}

.keres_rightside {
	padding-left: 10px;
	padding-top: 10px;
	text-align: right
}

.users_textarea {
	height: 100px;
	width: 500px
}

.box_users_nev {
	width: 188px
}

.box_users_reg {
	width: 186px
}

.box_users_varos {
	width: 162px
}

.box_users_admin_email {
	width: 190px
}

.box_users_admin_dna {
	width: 245px
}

.box_nagy2_users {
	background-color: #545454;
	border: 1px solid #828282;
	float: left;
	height: 32px;
	margin-top: 1px
}

.box_nagy_users {
	background-color: #616161;
	border: 1px solid #828282;
	float: left;
	height: 32px;
	margin-top: 1px
}

.box_nev_users {
	float: left;
	margin-top: 10px;
	text-align: center;
	width: 205px
}

.box_rang {
	color: #E7E7E7;
	float: left;
	margin-top: 10px;
	text-align: center;
	width: 127px
}

.box_regtime {
	color: #E7E7E7;
	float: left;
	margin-top: 10px;
	text-align: center;
	width: 198px
}

.box_lastvisit {
	color: #E7E7E7;
	float: left;
	margin-top: 10px;
	text-align: center;
	width: 196px
}

.box_telepules {
	color: #E7E7E7;
	float: left;
	margin: 10px 10px 0 0;
	text-align: center;
	width: 162px
}

.box_felhasznalok {
	height: 35px;
	margin-left: 1px
}

.box_nev_admin {
	float: left;
	margin: 10px 0 0 5px;
	width: 115px
}

.box_email_admin {
	float: left;
	margin: 10px 0 0 5px;
	overflow: hidden;
	width: 205px;
	word-wrap: break-word
}

.box_add_admin {
	float: left;
	margin: 10px 0 0 5px;
	width: 116px
}

.box_dna_admin {
	float: left;
	margin: 10px 0 0 5px;
	overflow: hidden;
	width: 262px;
	word-wrap: break-word
}

.box_up_admin {
	float: left;
	margin: 10px 0 0 5px;
	width: 86px
}

.box_down_admin {
	float: left;
	margin: 10px 0 0 5px;
	width: 84px
}

.users_amount {
	color: #FFF;
	font-weight: 700
}

.toplista_felso {
	margin: 5px 0;
	text-align: center
}

.toplista_felso2 {
	margin: 20px 0 5px;
	text-align: center
}

.box_toplista_all {
	color: #E7E7E7;
	text-align: center;
	width: 900px
}

.box_toplista_nev {
	width: 191px
}

.box_toplista_felseb {
	width: 88px
}

.box_toplista_letoltve {
	width: 62px
}

.box_toplista_leseb {
	width: 90px
}

.box_toplista_reg {
	width: 152px
}

.box_toplista_atlagforum {
	width: 125px
}

.box_toplista_torrentnev {
	width: 348px
}

.box_toplista_kapcs {
	width: 46px
}

.box_toplista_feltoltve2 {
	width: 159px
}

.box_toplista_felhasznalok {
	width: 126px
}

.box_toplista_feltoltes {
	width: 128px
}

.box_toplista_atlagarany {
	width: 131px
}

.box_toplista_felseb2 {
	width: 97px
}

.box_toplista_arany2 {
	width: 95px
}

.box_toplista_feltoltve3 {
	width: 89px
}

.box_toplista_letoltve2 {
	width: 92px
}

.box_toplista1_hely {
	float: left;
	margin-top: 10px;
	width: 50px
}

.box_toplista1_nev {
	float: left;
	margin-top: 10px;
	width: 208px
}

.box_toplista1_reg {
	float: left;
	margin-top: 10px;
	width: 160px
}

.box_toplista3_nev {
	float: left;
	margin-left: 5px;
	margin-top: 10px;
	text-align: left;
	width: 363px
}

.box_toplista3_kapcs {
	float: left;
	margin-top: 10px;
	width: 62px
}

.box_toplista3_adatforg {
	float: left;
	margin-top: 10px;
	width: 87px
}

.box_toplista3_feltoltve {
	float: left;
	margin-top: 10px;
	width: 175px
}

.box_toplista4_atlagarany {
	float: left;
	margin-top: 10px;
	width: 145px
}

.box_toplista5_nev {
	float: left;
	margin-top: 10px;
	width: 178px
}

.box_toplista5_letoltve {
	float: left;
	margin-top: 10px;
	width: 110px
}

.forum_stuff {
	height: 12px;
	margin-left: 4px
}

.forum_stuff_mod {
	color: #E7E7E7;
	margin-right: 4px;
	text-align: right
}

.all_threads_read {
	float: right;
	font-size: 9px;
	padding: 2px 15px 0 0
}

.forum_oldalnev {
	float: left;
	font-size: 12px;
	font-weight: 700;
	width: 638px
}

.forum_descr {
	margin-top: 5px
}

#forum1 .fobox_tartalom,
#forum1_b .fobox_tartalom {
	border-bottom: none
}

.forum_fobox_lab {
	background: #616161;
	border-bottom: 1px solid #828282;
	border-left: 1px solid #828282;
	border-right: 1px solid #828282;
	padding: 5px;
	width: 888px
}

.forum_oldalnev_also {
	font-size: 10px;
	margin-top: 8px
}

.forum_kedvencek {
	float: left;
	text-align: right;
	width: 240px
}

.box_forum_all {
	color: #E7E7E7;
	margin-left: -1px;
	text-align: center;
	width: 906px
}

.box_nagy2_forum_left {
	background-color: #545454;
	border: 1px solid #828282;
	float: left;
	height: 32px;
	margin-left: 1px;
	margin-top: 1px;
	width: 44px
}

.box_nagy2_forum_right {
	background-color: #545454;
	border: 1px solid #828282;
	float: left;
	height: 32px;
	margin-left: 1px;
	margin-top: 1px;
	width: 851px
}

.box_nagy_forum_left {
	background-color: #616161;
	border: 1px solid #828282;
	float: left;
	height: 32px;
	margin-left: 1px;
	margin-top: 1px;
	width: 44px
}

.box_nagy_forum_right {
	background-color: #616161;
	border: 1px solid #828282;
	float: left;
	height: 32px;
	margin-left: 1px;
	margin-top: 1px;
	width: 851px
}

.box_forum_jel {
	width: 26px
}

.box_forum_tema {
	width: 415px
}

.box_forum_indito {
	width: 59px
}

.box_forum_utolso {
	width: 241px
}

.box_forum_jel_nonew {
	background: url(https://static.ncore.cc/styles/default/forum_normal.gif);
	float: left;
	height: 18px;
	margin: 7px 0 0 15px;
	width: 15px
}

.box_forum_jel_new {
	background: url(https://static.ncore.cc/styles/default/forum_normal_new.gif);
	float: left;
	height: 18px;
	margin: 7px 0 0 15px;
	width: 15px
}

.box_forum_jel_closed {
	background: url(https://static.ncore.cc/styles/default/forum_closed.gif);
	float: left;
	height: 18px;
	margin: 7px 0 0 15px;
	width: 15px
}

.box_forum_jel_moved {
	background: url(https://static.ncore.cc/styles/default/forum_moved.gif);
	float: left;
	height: 18px;
	margin: 7px 0 0 15px;
	width: 15px
}

.jel_link {
	height: 18px;
	width: 100%
}

.box_forum_tema_txt {
	float: left;
	margin-left: 5px;
	text-align: left;
	width: 430px
}

.box_forum_tema_txt_also {
	color: #E7E7E7;
	margin-top: 1px
}

.box_forum_utolso_txt {
	float: left;
	margin: 3px 0 0 15px;
	text-align: left;
	width: 247px
}

.forum_stat {
	line-height: 13px;
	text-align: justify
}

.forum_pager {
	color: #E7E7E7;
	float: left;
	font-weight: 700;
	margin-left: 2px;
	width: 442px
}

.forum_newtopic {
	color: #E7E7E7;
	float: left;
	font-weight: 700;
	text-align: right;
	width: 438px
}

.box_forumtopic_all_fej {
	background: url(https://static.ncore.cc/styles/default/alcimbg.gif);
	border: 1px solid #828282;
	color: #E7E7E7;
	font-weight: 700;
	height: 16px;
	margin: 1px 0 0 1px;
	padding: 4px 0 0 10px;
	text-align: left;
	width: 888px
}

.forum_rightside {
	padding-left: 10px;
	padding-top: 10px;
	text-align: right;
	width: 150px
}

#progress_all {
	height: 25px;
	margin: 10px auto 0;
	width: 440px
}

#progressbar_1 {
	background: url(https://static.ncore.cc/styles/default/up_progress_1.png) 0 50px;
	float: left;
	height: 25px;
	width: 111px
}

#progressbar_1.active {
	background: url(https://static.ncore.cc/styles/default/up_progress_1.png) 0 25px
}

#progressbar_1.done {
	background: url(https://static.ncore.cc/styles/default/up_progress_1.png) 0 0
}

#progressbar_2 {
	background: url(https://static.ncore.cc/styles/default/up_progress_2.png) 0 50px;
	float: left;
	height: 25px;
	width: 109px
}

#progressbar_2.active {
	background: url(https://static.ncore.cc/styles/default/up_progress_2.png) 0 25px
}

#progressbar_2.done {
	background: url(https://static.ncore.cc/styles/default/up_progress_2.png) 0 0
}

#progressbar_3 {
	background: url(https://static.ncore.cc/styles/default/up_progress_3.png) 0 50px;
	float: left;
	height: 25px;
	width: 109px
}

#progressbar_3.active {
	background: url(https://static.ncore.cc/styles/default/up_progress_3.png) 0 25px
}

#progressbar_3.done {
	background: url(https://static.ncore.cc/styles/default/up_progress_3.png) 0 0
}

#progressbar_4 {
	background: url(https://static.ncore.cc/styles/default/up_progress_4.png) 0 50px;
	float: left;
	height: 25px;
	width: 111px
}

#progressbar_4.active {
	background: url(https://static.ncore.cc/styles/default/up_progress_4.png) 0 25px
}

#progressbar_4.done {
	background: url(https://static.ncore.cc/styles/default/up_progress_4.png) 0 0
}

.feltoltes_lapoz {
	height: 29px;
	margin: 30px auto 0;
	width: 193px
}

.upload_back {
	background: url(https://static.ncore.cc/styles/default/upload_back.png);
	cursor: pointer;
	float: left;
	height: 21px;
	margin-right: 5px;
	width: 82px
}

.upload_backin {
	background: url(https://static.ncore.cc/styles/default/upload_backin.png);
	float: left;
	height: 21px;
	margin-right: 5px;
	width: 82px
}

.upload_next {
	background: url(https://static.ncore.cc/styles/default/upload_next.png);
	cursor: pointer;
	float: left;
	height: 21px;
	width: 82px
}

.upload_nextin {
	background: url(https://static.ncore.cc/styles/default/upload_nextin.png);
	float: left;
	height: 21px;
	width: 82px
}

.feltoltes_doboz,
.szerkesztes_doboz {
	border-right: 1px solid #828282;
	border-top: 1px solid #828282;
	margin-top: 1px;
	padding-left: 10px;
	padding-top: 8px;
	vertical-align: top
}

.imdb_tabla {
	background-color: #696969;
	margin-top: 10px
}

.recent-links {
	clear: both;
	margin-top: 0;
	text-align: center;
	width: 830px
}

.recent-links h5 {
	font-size: 11px;
	margin: 8px
}

.recent-links ul {
	margin: 0;
	padding: 0
}

.recent-links li {
	list-style-type: none;
	margin: 4pt 0;
	text-align: center
}

.recent-article {
	float: left;
	width: 300px
}

.recent-article2 {
	float: right;
	width: 260px
}

.recent-pic {
	float: left;
	padding-top: 5px;
	width: 245px
}

.forUsers_it {
	color: #E7E7E7;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: 700;
	line-height: 13px
}

.li_ipon {
	line-height: 12px;
	margin: 2pt 0
}

a:hover,
a.menu_link:hover,
a.bb-url:hover,
.feltolto_szin {
	color: orange
}

#main_all {
	margin: 0 auto;
	width: 918px
}

.user_select,
.box_toplista_forumhsz,
.box_toplista_letoltes {
	width: 120px
}

a.commentlink:link,
a.commentlink:visited,
a.commentlink:active,
a.commentlink:hover {
	text-decoration: underline
}

.fobox_all,
.fobox_all_alone {
	margin: 0 auto 13px;
	width: 900px
}

.fobox_tartalom_alone,
.commentbox_tartalom {
	background-color: #616161;
	border: 1px solid #828282;
	color: #E7E7E7;
	font-weight: 700;
	margin-top: 1px;
	padding: 10px;
	text-align: center;
	width: 878px
}

.userbox_all,
.userbox_all_mini {
	margin: 0 auto 10px;
	width: 100%
}

.userbox_fej,
.userbox_fej2,
.userbox_fej_mini,
.userbox_fej_mini2,
.lista_mini_fej {
	background: url(https://static.ncore.cc/styles/default/fobox_fej.png);
	border: 1px solid #828282;
	color: #E7E7E7;
	font-weight: 700;
	height: 18px;
	padding: 4px 0 0 10px
}

.userbox_tartalom,
.userbox_tartalom2,
.userbox_tartalom_mini,
.userbox_tartalom_mini2 {
	overflow: hidden;
	word-wrap: break-word;
	background-color: #717171;
	border: 1px solid #828282;
	color: #E7E7E7;
	font-weight: 400;
	margin-top: 1px;
	padding: 5px
}

#profil_right .hsz_iconok,
#history_reszlet,
.tablazat_th_td {
	width: 100%
}

.hsz_width2,
.box_profil_felseb,
.box_profil_letoltott,
div.baratok_img img {
	width: 50px
}

.hsz_width4,
.users_input_small,
.box_users_szint,
.box_users_admin_nev,
.box_users_admin_add {
	width: 100px
}

.highlight,
.add_news_h:hover,
.add_news_h a:hover {
	color: #ffa52c
}

.list_alert {
	color: #ffa52c !important
}

.premium {
	color: #47D700 !important
}

#sizes,
.wiki_line_unchanged {
	font-size: 8pt
}

#profil_right .hsz_bb_smilie,
#profil_right .hsz_bb_imgw,
#profil_right .hsz_bb_spoiler,
#letoltes_hr.hr_stuff,
.hsz_felso_ico_owncomments,
.bookmark_lenyilo_top,
.bookmark_lenyilo_bottom,
.wikibox_fej2,
.wikibox_fej_mini2,
.users_box_sepa {
	display: none
}

#torr_live_in table,
.wiki_box_search_table {
	border-collapse: collapse
}

#torr_live_in td,
.inforbar_txt td {
	padding: 4px
}

.t_live_right a,
.add_news_h a,
a.infolink:link,
a.infolink:visited,
a.infolink:active {
	font-weight: 400
}

.newscomm_korabbi a,
#korabbi_div a,
.hd_korabbi a {
	display: block;
	font-weight: 400;
	padding: 10px 0 10px 20px
}

.news_right_top,
#profil_rang {
	font-size: 11px
}

.news_own,
#bookmark_nevszerk {
	float: right
}

#stat_first,
.invite_2,
.users_input {
	width: 200px
}

#table_torrcat,
.helpdesk_table,
#progress_all.pgr_all_edit {
	margin: 0 auto
}

#pager_bottom,
.torrent_reszletek_konyvjelzo {
	margin: 10px 0;
	text-align: center
}

.lista_all,
.box_forumtopic_all {
	margin: 0 auto 13px;
	width: 900px
}

.box_torrent_all,
.box_keresek_all {
	width: 906px
}

.box_forum,
.box_toplista1,
.box_toplista2,
.box_toplista3,
.box_toplista4,
.box_toplista5 {
	height: 35px
}

.box_tipus_ownfree,
.box_tipus,
.box_profil_tipus {
	width: 33px
}

.box_feltoltve,
.box_toplista_feltoltve {
	width: 65px
}

.box_meret,
.box_keres_feltolto,
.box_keres_ideje,
.box_users_admin_up,
.box_users_admin_down {
	width: 70px
}

.box_s_ownfree,
.box_l_ownfree {
	width: 23px
}

.box_d,
.box_l {
	width: 18px
}

.box_profil_feltoltott,
.box_forum_temak {
	width: 54px
}

.box_profil_d,
.box_profil_s,
.box_profil_l {
	width: 28px
}

.box_nev_mini,
.siterank,
.bookmark_name {
	float: left
}

.box_s2,
.box_l2 {
	float: left;
	margin-top: 10px;
	text-align: center;
	width: 41px
}

.box_profil_feltoltott2,
.box_profil_felseb2,
.box_profil_letoltott2,
.box_profil_leseb2,
.box_profil_arany2 {
	float: left;
	font-size: 10px;
	margin-top: 10px;
	text-align: center;
	width: 73px
}

.box_profil_d2,
.box_profil_s2,
.box_profil_l2 {
	float: left;
	font-size: 10px;
	margin-top: 10px;
	text-align: center;
	width: 48px
}

.letoltve_txt,
.nfo_txt,
.t_details_txt,
.t_comments_txt {
	float: left;
	margin: 14px 0 0 5px
}

.t_szerkeszt_txt,
.t_torol_txt {
	float: left;
	margin: 15px 0 0
}

.user_focim,
.log_bg {
	background: #696969
}

#history_reszlet td,
.helpdesk_table td {
	padding: 2px
}

td.profil_box,
.feltoltes_box,
.szerkesztes_box {
	border-top: 1px solid #828282;
	margin-top: 1px;
	padding-left: 10px
}

#profil_avatar,
.wiki_center {
	text-align: center
}

.profil_jobb_masodik,
.profil_jobb_masodik2 {
	line-height: 17px;
	overflow: hidden;
	word-wrap: break-word
}

.tblcontent,
.tblcontent2 {
	border-collapse: collapse;
	margin: 0 auto;
	width: 100%
}

.bookmark_name_txt,
.box_forum_tema_txt2 {
	margin-top: 3px
}

.bookmark_top_text,
.pm_send_top_text,
.wiki_ul ul {
	padding-left: 10px
}

.bookmark_close_text,
.pm_close_text {
	font-size: 14px;
	line-height: 50px;
	padding-bottom: 10px;
	text-align: center;
	width: 100%;
	color: #555555;
}

.pm_sepa,
.hd_reply_sepa {
	background-color: #919191;
	height: 1px;
	margin: 10px 0 10px 10px;
	width: 705px
}

.pm_bal,
.hd_bal {
	float: left;
	margin: 0 10px;
	width: 88px
}

.pm_also,
.hd_also {
	font-weight: 400;
	margin-left: 108px;
	width: 600px;
	word-wrap: break-word;
}

.pm_send_input,
.box_keres_nev {
	width: 345px
}

#wiki_right a,
#wiki_right a:hover,
#wiki_left a,
#wiki_left a:hover {
	font-weight: 400;
	text-decoration: underline
}

.wikibox_tartalom2,
.wikibox_tartalom_mini2 {
	background-color: #717171;
	border: 1px solid #828282;
	color: #E7E7E7;
	font-weight: 400;
	margin-top: 1px;
	padding: 15px
}

.wiki_input_error,
.box_error,
.doboz_error {
	background-color: maroon
}

.hdlist_two,
.hdlist_four {
	float: left;
	height: 30px;
	width: 150px
}

.box_keres_teljesitve,
.box_toplista_adatforg,
.box_forum_szoltak {
	width: 60px
}

.box_users_utoljara,
.box_toplista_nev2 {
	width: 160px
}

.box_toplista_arany,
.box_forum_szoltak2 {
	width: 55px
}

.box_toplista_felhasznalo,
.box_toplista_varosnev {
	width: 240px
}

.box_toplista_torrenthsz,
.box_toplista_atlagtorrent {
	width: 130px
}

.box_toplista_d,
.box_toplista_s,
.box_toplista_l,
.box_toplista_hely {
	width: 30px
}

.box_toplista_szint,
.box_toplista_leseb2 {
	width: 85px
}

.box_toplista1_feltoltott,
.box_toplista1_felseb,
.box_toplista1_letoltott,
.box_toplista1_leseb,
.box_toplista1_arany {
	float: left;
	margin-top: 10px;
	width: 96px
}

.box_toplista2_nev,
.box_toplista4_nev {
	float: left;
	margin-top: 10px;
	width: 262px
}

.box_toplista2_torrenthsz,
.box_toplista2_forumhsz,
.box_toplista4_felhasznalok,
.box_toplista4_feltoltes,
.box_toplista4_letoltes {
	float: left;
	margin-top: 10px;
	width: 147px
}

.box_toplista2_atlagtorrent,
.box_toplista2_atlagforum {
	float: left;
	margin-top: 10px;
	width: 146px
}

.box_toplista3_d,
.box_toplista3_s,
.box_toplista3_l {
	float: left;
	margin-top: 10px;
	width: 52px
}

.box_toplista5_szint,
.box_toplista5_felseb,
.box_toplista5_leseb,
.box_toplista5_arany,
.box_toplista5_feltoltve {
	float: left;
	margin-top: 10px;
	width: 112px
}

.box_forum_temak_txt,
.box_forum_szoltak_txt,
.box_forum_indito_txt {
	float: left;
	margin-top: 10px;
	width: 77px
}

.description {
	background: url(https://static.ncore.cc/styles/default/ico_attach.png);
	width: 33px;
	height: 46px
}

.last_post {
	background: url(https://static.ncore.cc/styles/default/last_post.png);
	width: 12px;
	height: 9px
}

.infobar_ico {
	background: url(https://static.ncore.cc/styles/default/infobar.gif);
	width: 10px;
	height: 10px
}

.hnr_torrents {
	text-align: center
}

.hnr_tname {
	float: left;
	width: 360px;
	text-align: left
}

.hnr_tstart {
	float: left;
	width: 80px
}

.hnr_tlastactive {
	float: left;
	width: 89px
}

.hnr_tseed {
	float: left;
	width: 56px
}

.hnr_tup {
	float: left;
	width: 85px
}

.hnr_tdown {
	float: left;
	width: 83px
}

.hnr_ttimespent {
	float: left;
	width: 84px
}

.hnr_tratio {
	float: left;
	width: 55px
}

.hnr_all {
	background-color: #616161;
	border: 1px solid #828282;
	float: left;
	padding: 3px;
	margin-top: 1px;
	width: 892px
}

.hnr_all2 {
	background-color: #545454;
	border: 1px solid #828282;
	float: left;
	padding: 3px;
	margin-top: 1px;
	width: 892px
}

.hnr_name {
	width: 341px
}

.hnr_start {
	width: 62px
}

.hnr_lastactive {
	width: 68px
}

.hnr_seed {
	width: 34px
}

.hnr_up {
	width: 62px
}

.hnr_down {
	width: 62px
}

.hnr_timespent {
	width: 62px
}

.hnr_ratio {
	width: 42px
}

.hnr_hl {
	background-color: #353535;
	border: 1px solid #828282;
	float: left;
	padding: 3px;
	margin-top: 1px;
	width: 892px
}

span.seed {
	color: #47d700
}

span.leech {
	color: #DE6E00
}

span.partial {
	color: #47d700
}

span.stopped {
	color: #DE6E00
}

.ape-popup {
	margin: 5px 0;
	padding: 5px;
	border: 1px solid #828282;
	width: 181px;
	overflow: hidden;
	word-wrap: break-word;
	background-color: #545454;
	z-index: 200
}

.ape-close {
	float: right;
	color: orange;
	cursor: pointer
}

.ad-container {
	margin: 5px 0;
	cursor: pointer;
	text-align: left;
	padding: 5px;
	border: 1px solid #828282;
	width: 181px;
	overflow: hidden;
	word-wrap: break-word;
	background-color: #545454;
	z-index: 200
}

.premium-nav {
	width: 100%;
	margin-bottom: 0px;
	border-bottom: 1px solid #828282;
	margin-left: 0;
	list-style: none;
	padding: 0;
	display: table;
	line-height: 0;
	content: '';
	clear: both;
}

.premium-nav li {
	margin-bottom: -1px;
	float: left;
	line-height: 20px;
	list-style: none;
	width: 50%;
	font-size: 16px;
}

.premium-nav li>a {
	display: block;
	line-height: 20px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 12px;
	padding-left: 12px;
	margin-right: 2px;
	border-bottom-color: transparent;
	text-align: center;
	border: 1px solid transparent;
}

.premium-nav li>a:hover {
	background: #333;
	border-bottom: 1px solid #828282
}

.premium-active a {
	display: block;
	border: 1px solid #828282!important;
	line-height: 20px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 12px;
	padding-left: 12px;
	margin-right: 2px;
	border-bottom-color: transparent!important;
	background-color: #616161;
	text-align: center;
}

.premium-active>a:hover {
	border: 1px solid #828282!important;
	border-bottom-color: transparent !important;
	background-color: #616161 !important;
	cursor: default!important;
}

.premium-tab {
	border: 1px solid #828282;
	border-top: 0;
	padding: 24px 0 24px;
}

.div-bgad {
	background: url(https://static.ncore.cc/styles/default/bg_f1.png) no-repeat fixed top;
}


/********************************/